# Python
venv/
__pycache__/
*.py[cod]
db.sqlite3
*.log
.env
.env.*

# Node.js / React 
node_modules/
dist/
build/
frontend/build/
frontend/.env*

# VSCode / IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
